.container {
    width: 50%; 
    margin: 0 auto; 
    padding: 20px; 
    background: linear-gradient(#e3e3e3, #fff );
    border-radius: 20px; 
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    align-content: center;
    flex: content;
    text-align: justify;
}
