body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    padding: 20px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    margin-right: 20px; /* Espaçamento entre os itens */
}

a {
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    padding: 10px 15px; /* Espaçamento interno */
    border-radius: 5px; /* Cantos arredondados */
    transition: background-color 0.3s; /* Transição suave */
}

a:hover {
    background-color: #55ff6c; /* Cor do hover */
    color: #282828; /* Cor do texto no hover */
}