body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    padding: 20px;
    align-items: right;
    text-align: right;
    margin-right: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end; /* Justifica os itens à direita */
}

li {
    margin-right: 20px; /* Espaçamento entre os itens */
}

a {
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    padding: 10px 15px; /* Espaçamento interno */
    border-radius: 5px; /* Cantos arredondados */
    transition: background-color 0.3s; /* Transição suave */
}

a:hover {
    background-color: #55ff6c; /* Cor do hover */
    color: #282828; /* Cor do texto no hover */
}

@media (max-width: 1200px) {
    nav {
      padding: 15px;
      margin-right: 20px;
    }
  
    ul {
      justify-content: flex-end;
    }
  
    li {
      margin-right: 15px;
    }
  
    a {
      padding: 8px 12px;
      font-size: 14px;
    }
  }
  
  @media (max-width: 768px) {
    nav {
      padding: 10px;
      margin-right: 10px;
    }
  
    ul {
      flex-direction: column;
      align-items: flex-end;
    }
  
    li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    a {
      padding: 8px 10px;
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    nav {
      padding: 8px;
      margin-right: 5px;
    }
  
    ul {
      flex-direction: column;
      align-items: flex-start;
    }
  
    li {
      margin-right: 0;
      margin-bottom: 8px;
    }
  
    a {
      padding: 6px 8px;
      font-size: 12px;
    }
  }
  