body {
    background-color: #1a1a1a;
    font-family: 'Calibri', sans-serif;
}

h1 {
    font-size: 32px;
    color: #55ff6c;
    text-align: center;
    font-weight: 500;
    font-family: 'Cambria', sans-serif;
}

h2 {
    font-size: 24px;
    color: #ccc;
    margin-bottom:20px;
    margin-left: 25px;
    text-align: left;
    font-weight: 500;
    font-family: 'Cambria', sans-serif;

}

h3 {
    font-size: 24px;
    color: #ccc;
    margin-bottom:20px;
    text-align: left;
    font-weight: 500;
    font-family: 'Cambria', sans-serif;
}

p {
    font-size: 18px;
    color: #fff;
    margin-bottom:20px;
    margin-right: 25px;
    margin-left: 25px;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 0.05em;
    word-spacing: 0.05em;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    text-shadow: none;
    font-family: 'Calibri', sans-serif;
}

hr {
    border: none;
    height: 2px;
    background-color: #55ff6c;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 95%;
}

img {
    max-width: 20%;
    height: auto;
    margin: 20px 20px 20px 0px;
    border-radius: 100px;
}




